@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.3s ease-in all;
  font-family: Inter sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 87%;
}

.row {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 92%;
  }
}
#header {
  background-color: #fff;
  padding: 13px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
}
#header .container .row {
  justify-content: space-between;
  align-items: center;
}
#header .container .row .logo {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .container .row .navBar .navList {
  display: flex;
  gap: 40px;
}
#header .container .row .navBar .navList .listItem a {
  line-height: 22px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 12px;
  color: #1a1a1a;
}
#header .container .row .navBar .navList .listItem a:hover {
  color: #e1e1e1;
  background-color: #1a1a1a;
}
#header .container .row .mobile {
  display: none;
}

@media (max-width: 768px) {
  #header {
    padding: 13px 0;
    z-index: 9999;
  }
  #header .container {
    position: relative;
  }
  #header .container .row {
    justify-content: space-between;
    align-items: center;
  }
  #header .container .row .logo {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header .container .row .navBar {
    display: none;
  }
  #header .container .row .mobile {
    display: block;
  }
  #header .container .row .mobile .mobileIcon .closeIcon {
    display: none;
    width: 24px;
    height: 24px;
  }
  #header .container .row .mobile .mobileNavList {
    padding: 20px 0;
    background-color: #fff;
    width: 100vw;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    gap: 40px;
  }
  #header .container .row .mobile .mobileNavList .mobileListItem a {
    line-height: 22px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 12px;
    color: #1a1a1a;
  }
  #header .container .row .mobile .mobileNavList .mobileListItem a:hover {
    color: #e1e1e1;
    background-color: #1a1a1a;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 92%;
  }
}
.hero {
  padding: 60px 0;
  margin: 30px 0;
}
.hero .container .row {
  gap: 20px;
}
.hero .container .row .leftSide {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.hero .container .row .leftSide .greeting {
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}
.hero .container .row .leftSide .greeting .myName {
  color: #308ce8;
  font-size: 60px;
}
.hero .container .row .leftSide .desc {
  color: #5f5f5f;
  font-size: 23px;
}
.hero .container .row .leftSide a {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #308ce8;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
}
.hero .container .row .leftSide a:hover {
  background-color: #1a1a1a;
}
.hero .container .row .leftSide a:active {
  scale: 0.88;
}
.hero .container .row .rightSide {
  width: calc(50% - 8px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .row .rightSide .imgContainer {
  width: 450px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}
.hero .container .row .rightSide .imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .hero {
    padding: 40px 0;
    margin: 10px 0;
  }
  .hero .container .row {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero .container .row .leftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .hero .container .row .leftSide .greeting .myName {
    color: #308ce8;
    font-size: 40px;
  }
  .hero .container .row .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .container .row .rightSide .imgContainer {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .hero .container .row .rightSide .imgContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .hero {
    padding: 30px 0;
  }
  .hero .container {
    width: 92%;
  }
  .hero .container .row {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero .container .row .leftSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .hero .container .row .leftSide .greeting .myName {
    color: #308ce8;
    font-size: 40px;
  }
  .hero .container .row .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .container .row .rightSide .imgContainer {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .hero .container .row .rightSide .imgContainer img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#projects {
  padding: 60px 0;
  margin: 30px 0;
  background-color: #fafafa;
}
#projects .container .row {
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
#projects .container .row .title {
  font-size: 36px;
  color: #1a1a1a;
}
#projects .container .row .projectCardContainer {
  display: flex;
  gap: 40px;
  width: 100%;
}
#projects .container .row .projectCardContainer .projectCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: calc(33% - 30px);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}
#projects .container .row .projectCardContainer .projectCard:hover {
  transform: scale(1.05);
}
#projects .container .row .projectCardContainer .projectCard .projectImage {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
}
#projects .container .row .projectCardContainer .projectCard .projectImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .container .row .projectCardContainer .projectCard .projectTitle {
  color: #1a1a1a;
  font-size: 20px;
}
#projects .container .row .projectCardContainer .projectCard .desc {
  color: #5f5f5f;
  font-size: 14px;
  text-align: justify;
}
#projects .container .row .projectCardContainer .projectCard .links {
  display: flex;
  gap: 20px;
}
#projects .container .row .projectCardContainer .projectCard .links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #fff;
  color: #1a1a1a;
  padding: 8px 16px;
  font-size: 18px;
}
#projects .container .row .projectCardContainer .projectCard .links .link img {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  #projects {
    padding: 30px 0;
    margin: 10px 0;
  }
  #projects .container .row {
    gap: 30px;
  }
  #projects .container .row .projectCardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  #projects .container .row .projectCardContainer .projectCard {
    width: 100%;
  }
  #projects .container .row .projectCardContainer .projectCard:hover {
    transform: scale(1);
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #projects {
    padding: 40px 0;
    margin: 20px 0;
  }
  #projects .container .row {
    flex-direction: column;
    gap: 40px;
  }
  #projects .container .row .projectCardContainer {
    display: flex;
    gap: 30px;
  }
  #projects .container .row .projectCardContainer .projectCard {
    width: calc(50% - 30px);
  }
  #projects .container .row .projectCardContainer .projectCard:hover {
    transform: scale(1.02);
  }
}
#about {
  padding: 40px 0;
}
#about .container .row {
  flex-direction: column;
  gap: 50px;
}
#about .container .row .title {
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
}
#about .container .row .aboutContent {
  display: flex;
  gap: 30px;
}
#about .container .row .aboutContent .leftSide {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: calc(50% - 30px);
}
#about .container .row .aboutContent .leftSide .text {
  text-align: justify;
  font-size: 22px;
  line-height: 30px;
  color: #5f5f5f;
}
#about .container .row .aboutContent .leftSide .mySkill {
  font-size: 24px;
  color: #1a1a1a;
}
#about .container .row .aboutContent .leftSide .skills {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}
#about .container .row .aboutContent .leftSide .skills .skill {
  color: #fff;
  background-color: #308ce8;
  padding: 13px 0;
  border-radius: 16px;
}
#about .container .row .aboutContent .rightSide {
  width: calc(50% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .container .row .aboutContent .rightSide .image {
  width: 400px;
  height: 150;
  overflow: hidden;
}
#about .container .row .aboutContent .rightSide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #about {
    padding: 20px 0;
  }
  #about .container .row {
    flex-direction: column;
    gap: 30px;
  }
  #about .container .row .title {
    font-size: 30px;
  }
  #about .container .row .aboutContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #about .container .row .aboutContent .leftSide {
    width: 100%;
    gap: 30px;
  }
  #about .container .row .aboutContent .leftSide .text {
    text-align: justify;
    font-size: 18px;
  }
  #about .container .row .aboutContent .leftSide .mySkill {
    text-align: center;
    font-size: 18px;
  }
  #about .container .row .aboutContent .leftSide .skills {
    grid-template-columns: repeat(3, auto);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
  #about .container .row .aboutContent .rightSide {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #about {
    padding: 30px 0;
  }
  #about .container .row {
    gap: 40px;
  }
  #about .container .row .title {
    font-size: 30px;
  }
  #about .container .row .aboutContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #about .container .row .aboutContent .leftSide {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }
  #about .container .row .aboutContent .leftSide .text {
    line-height: 40px;
  }
  #about .container .row .aboutContent .rightSide {
    width: 100%;
  }
}
#contact {
  padding: 40px 0;
}
#contact .container .row {
  flex-direction: column;
  gap: 40px;
}
#contact .container .row .title {
  text-align: center;
  font-size: 36px;
  color: #1a1a1a;
}
#contact .container .row #contactForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
#contact .container .row #contactForm .top {
  display: flex;
  gap: 30px;
  width: 100%;
}
#contact .container .row #contactForm .top .formGroup {
  width: calc(50% - 15px);
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#contact .container .row #contactForm .top .formGroup label {
  color: #1a1a1a;
  font-size: 20px;
}
#contact .container .row #contactForm .top .formGroup .inp {
  border: 1px solid #5f5f5f;
  border-radius: 16px;
  outline: none;
  padding: 8px 6px;
}
#contact .container .row #contactForm .top .formGroup .inp:focus {
  outline: none;
}
#contact .container .row #contactForm .top .formGroup .error {
  color: red;
}
#contact .container .row #contactForm .bottom {
  width: 100%;
}
#contact .container .row #contactForm .bottom .formGroup {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
#contact .container .row #contactForm .bottom .formGroup label {
  color: #1a1a1a;
  font-size: 20px;
}
#contact .container .row #contactForm .bottom .formGroup .inp {
  width: 100%;
  border: 1px solid #5f5f5f;
  border-radius: 16px;
  outline: none;
  padding: 8px 6px;
  resize: vertical;
}
#contact .container .row #contactForm .bottom .formGroup .inp:focus {
  outline: none;
}
#contact .container .row #contactForm .bottom .formGroup .error {
  color: red;
}
#contact .container .row #contactForm .submit {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 12px 40px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #308ce8;
}
#contact .container .row #contactForm .submit:hover {
  background-color: #1a1a1a;
}
#contact .container .row #contactForm .submit:active {
  transform: scale(0.88);
}

@media (max-width: 768px) {
  #contact {
    padding: 20px 0;
  }
  #contact .container .row {
    gap: 20px;
  }
  #contact .container .row .title {
    font-size: 30px;
  }
  #contact .container .row #contactForm {
    gap: 20px;
    width: 100%;
  }
  #contact .container .row #contactForm .top {
    gap: 15px;
    flex-direction: column;
  }
  #contact .container .row #contactForm .top .formGroup {
    width: 100%;
  }
  #contact .container .row #contactForm .top .formGroup label {
    font-size: 16px;
  }
  #contact .container .row #contactForm .submit {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  #contact {
    padding: 30px 0;
  }
  #contact .container .row {
    gap: 30px;
  }
  #contact .container .row .title {
    font-size: 30px;
  }
  #contact .container .row #contactForm {
    gap: 20px;
    width: 100%;
  }
  #contact .container .row #contactForm .top {
    gap: 15px;
    flex-direction: column;
  }
  #contact .container .row #contactForm .top .formGroup {
    width: 100%;
  }
  #contact .container .row #contactForm .top .formGroup label {
    font-size: 16px;
  }
  #contact .container .row #contactForm .submit {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */