@use "../variables" as *;

#footer {
  background-color: $backgroundWhite;
  padding: 40px 0;
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .leftSide {
        display: flex;
        flex-direction: column;
        gap: 35px;
        .logo {
          width: 24px;
          height: 24px;
          a {
            width: 100%;
            height: 100%;
          }
        }
        .copyRight {
          font-size: 18px;
          color: $softGrey;
        }
        .social {
          .socialList {
            display: flex;
            gap: 30px;
            .socialItem {
              width: 24px;
              height: 24px;
              a {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
      .navbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          font-size: 22px;
          color: $secondaryColor;
        }
        .navList {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .listItem {
            text-align: center;
            a {
              padding: 6px 4px;
              font-size: 18px;

              color: $secondaryColor;
              border-radius: 12px;
              &:hover {
                background-color: $secondaryColor;
                color: $purewhite;
              }
            }
          }
        }
      }
      .connections {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          font-size: 22px;
          color: $secondaryColor;
        }
        .connectionList {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .listItem {
            text-align: center;
            a {
              padding: 6px 4px;
              font-size: 18px;
              color: $secondaryColor;
              border-radius: 12px;
              &:hover {
                background-color: $secondaryColor;
                color: $purewhite;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 20px 0;
    .container {
      .row {
        flex-direction: column;
        gap: 30px;
        align-items: start;
        .leftSide {
          .logo {
            width: 20px;
            height: 20px;
          }
          .copyRight {
            font-size: 16px;
          }
          .social {
            .socialList {
              gap: 20px;
              .socialItem {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .navbar {
          .title {
            font-size: 18px;
          }
          .navList {
            .listItem {
              text-align: start;
            }
          }
        }
        .connections {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .title {
            font-size: 22px;
            color: $secondaryColor;
          }
          .connectionList {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .listItem {
              text-align: start;
            }
          }
        }
      }
    }
  }
}
