@use "../variables" as *;

#about {
  .container {
    .row {
      flex-direction: column;
      gap: 30px;
      .title {
        font-size: 36px;
        color: $secondaryColor;
        text-align: center;
      }
      .aboutContent {
        display: flex;
        gap: 30px;
        .leftSide {
          display: flex;
          flex-direction: column;
          width: calc(50% - 30px);
        }
      }
    }
  }
}
